main.main
  div.main__container.container
    h1.main__page-title.heading-one Hello every one!
    p.main__p.para Today we start doing great stuff!

    h2.main__page-subtitle.heading-two Another hallo
    p.main__p.para Another day we continue our deeds.

    h3.main__page-sub2title.heading-three Something new
    p.main__p.para We always continue doing stuff...
